.game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

.game-menu span {
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

.game-menu button {
    border: 1px solid gray;
}