.sketch-button {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    appearance: none;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    border-radius: 11px;
    padding: 12px 20px;
    position: relative;
    line-height: 24px;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, ), 0 4px 16px rgba(0, 0, 0, ), 0 4px 24px rgba(0, 0, 0, );
    background-color: rgba(0, 0, 0, 0.7);
}

.sketch-button:not(:last-child) {
    margin-bottom: 15px;
}

.sketch-button.start svg {
    animation: stroke 1s linear;
}

.sketch-button .lines {
    position: absolute;
    inset: 0;
    mix-blend-mode: hard-light;
    pointer-events: none;
    z-index: 1;
}

.sketch-button .lines>div {
    position: absolute;
    inset: 0;
}

.sketch-button .lines>div:last-child {
    transform: rotate(180deg);
}

.sketch-button .lines>div svg {
    display: block;
    position: absolute;
    inset: 0;
    overflow: visible;
    fill: none;
    stroke-width: 2;
    stroke: #c9e9ff;
    width: 100%;
    height: 100%;
    stroke-dasharray: 2 10;
    stroke-dashoffset: 14;
    opacity: 0;
}

.sketch-button .lines>div svg:nth-child(1) {
    stroke: #f8fcff;
}

.sketch-button .lines>div svg:nth-child(2) {
    stroke-width: 6px;
    filter: blur(20px);
}

.sketch-button .lines>div svg:nth-child(3) {
    stroke-width: 5px;
    filter: blur(6px);
}

.sketch-button .lines>div svg:nth-child(4) {
    stroke-width: 10px;
    filter: blur(56px);
}

@keyframes stroke {

    30%,
    55% {
        opacity: 1;
    }

    100% {
        stroke-dashoffset: 4;
        opacity: 0;
    }
}